<a href="https://colab.research.google.com/github/ErickdeSouzaDias/Livro-400-exercicios-Python/blob/main/Livro_400_exercic%C3%ADos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Crie três variáveis com três tipos de dados diferentes, respeitando sua sintaxe:

In [ ]:
nome, sobrenome = "Érick", "De Souza Dias" # Tipo str
print(nome + sobrenome)
casado = False # Tipo bool
print("É casado?", casado)
idade = 22 # Tipo int
print("Minha idade é", idade, "anos.")

ÉrickDe Souza Dias
É casado?  False
Minha idade é 22 anos.

2 - Crie um comentário de no máximo uma linha

In [ ]:
# Isso é um comentário

3 - Crie um comentário de mais de uma linha

In [ ]:
'''Isso é um comentário
de mais de
uma linha
como você
pode ver'''

'Isso é um comentário\nde mais de\numa linha\ncomo você\npode ver'

4 - Escreva um programa que mostre em tela a mensagem: Olá mundo!!!

In [ ]:
print("Olá, mundo!!!")

Olá, mundo!!!

5 - Crie uma váriável nome e atribua para a mesma um nome digitado pelo usuário:

In [ ]:
nome = str(input("Digite seu nome:"))

Digite seu nome:João

6 - Exiba em tela o valor e o tipo de dado da variável num1: Sendo num1 = 1987.

In [ ]:
num1 = 1987
print("O valor de num1 é", num1, ", sendo do tipo,", type(num1),".")

O valor de num1 é 1987 , sendo do tipo, <class 'int'> .

7 - Peça para que o usuário digite um número, em seguida exiba em tela o número digitado.

In [ ]:
try:
  numero = int(input("Digite um número inteiro: "))
  print("O número digitado foi,",numero)
except:
  numeroerro = float(input("Eu disse para digitar um número inteiro: "))
  print("O número digitado foi,",int(numeroerro))

Digite um número inteiro: 3.2
Eu disse para digitar um número inteiro: 4.7
O número digitado foi, 4

8 - Peça para que o usuário digite um número, em seguida o converta para float, exibindo em tela tanto o número em si quanto seu tipo de dado.

In [ ]:
num = input("Digite um número: ")
num = float(num)
print(f"O número digitado foi {num} do tipo {type(num)}.")

Digite um número: 47
O número digitado foi 47.0 do tipo <class 'float'>.

9 - Crie uma lista com 5 nomes de pessoas:

In [ ]:
nomes = ["João", "Pablo", "Clarisse", "Jennifer", "Augusto"]
print(nomes)

['João', 'Pablo', 'Clarisse', 'Jennifer', 'Augusto']

10 - Mostre o tamanho da lista nomes/ o número de elementos da lista nomes: Mostre separadamente apenas o terceiro elemento dessa lista.

In [ ]:
print(f"A lista nomes contém {len(nomes)} elementos.")
print(f"O terceiro elemento da lista é {nomes[2]}.")

A lista nomes contém 5 elementos.
O terceiro elemento da lista é Clarisse.

11 - Soma os valores das variáveis num1 e num2: Sendo num1 = 52 e num2 = 106. Por fim exiba em tela o resultado soma:

In [ ]:
num1, num2 = 52, 106
print(f"{num1} + {num2} = {num1 + num2}")

52 + 106 = 158

12 - Some os valores das variáveis num1 e num2, atribuindo o resultado da soma a uma nova variável homônima. Exiba em tela o conteúdo dessa variável.

In [ ]:
num1, num2 = 52, 106
soma = num1 + num2
print(f"{num1} + {num2} = {soma}")

52 + 106 = 158

13 - Subtraia os valores de num1 e num2:

In [ ]:
num1, num2 = 52, 106
print(f"{num1} - {num2} = {num1 - num2}")

52 - 106 = -54

14 - Realize as operações de multiplicação e de divisão entre os valores das variáveis num1 e num2:

In [ ]:
num1, num2 = 52, 106
print(f"{num1} x {num2} = {num1*num2}")
print(f"{num1} / {num2} = {(num1/num2):.2f}")

52 x 106 = 5512
52 / 106 = 0.49

15 - Eleve o valor de num1 a oitava potência, sendo num1 = 51:

In [ ]:
num1 = 51
print(f"{num1} ^ 8 = {num1**8}")

51 ^ 8 = 45767944570401

16 - Escreva um programa que pede que o usuário dê entrada em dois valores, em seguida, exiba o resultado da soma, subtração, multiplicação e divisão desses números:

In [ ]:
num1 = int(input("Digite um número inteiro: "))
num2 = int(input("Digite outro número inteiro: "))

soma = num1+num2
subtracao = num1-num2
multiplicacao = num1*num2
divisao = float(num1)/float(num2)

print(f"{num1}+{num2}={soma}")
print(f"{num1}-{num2}={subtracao}")
print(f"{num1}x{num2}={multiplicacao}")
print(f"{num1}/{num2}={divisao:.2f}")

Digite um número inteiro: 3
Digite outro número inteiro: 5
3+5=8
3-5=-2
3x5=15
3/5=0.60

17 - Dada duas variáveis num1 e num2 com valores 100 e 89, respectivamente, verifique se o valor de num1 é maior que o de num2.

In [ ]:
num1, num2 = 100, 89
print(f"{num1}>{num2}={num1>num2}")

100>89=True

18 - Verifique se os valores de num1 e num2 são iguais.

In [ ]:
num1, num2 = 100, 89
print(f"{num1}={num2}={num1==num2}")

100=89=False

19 - Verifique se os valores de num1 e num2 são diferentes.

In [ ]:
num1, num2 = 100, 89
print(f"{num1}<>{num2}={num1!=num2}")

100<>89=True

20 - Verifique se o valor de num1 é igual ou menor a 100.

In [ ]:
num1 = 100
print(f"{num1}<=100={num1<=100}")

100<=100=True

21 - Verifique se os valores de num1 e num2 são iguais ou menores que 100:

In [ ]:
num1, num2 = 100, 89
print(f"{num1}<=100 e {num2}<=100={num1 and num2 <= 100}")

100<=100 e 89<=100=True

22 - Verifique se os valores de num1 ou de num2 são iguais ou maiores que 100.

In [ ]:
num1, num2 = 100, 89
print(f"{num1}>={100} e {num2}>=100={num1 and num2 >= 100}")

100>=100 e 89>=100=False

23 - Verifique se o valor de num1 consta nos elementos da num1. Sendo num1 = 100 e lista1 = {10, 100, 1000, 10000, 100000}

In [ ]:
num1 = 100
lista1 = [10, 100, 1000, 10000, 100000]
print(f"{num1} pertence a lista1={num1 in lista1}")

100 pertence a lista1=True

24 - Crie duas variáveis com dois valores numéricos inteiros digitados pelo usuário, caso o valor do primeiro número for maior que o do segundo, exiba em tela uma mensagem de acordo, caso contrario, exiba em tela uma mensagem dizendo que o primeiro valor digitado é menor que o segundo.

In [ ]:
num1 = int(input("Digite um número inteiro: "))
num2 = int(input("Digite outro número inteiro: "))
if (num1 > num2):
  print("O primeiro número digitado e maior.")
else:
  print("O segundo número digitado é maior")

Digite um número inteiro: 15
Digite outro número inteiro: 65
O segundo número digitado é maior

25 - Peça para que o usuário digite um número, em seguida exiba em tela uma mensagem dizendo se tal número e PAR ou se IMPAR.

In [ ]:
num = int(input("Digite um número: "))
if (num%2==0):
  print("PAR")
else:
  print("IMPAR")

Digite um número: 33
IMPAR

26 - Crie uma variável com valor inicial 0, enquanto o valor dessa variável for igual ou menos que 10, exiba em tela o proprio valor davariável. A cada execução a mesma deve ter seu valor atualizado, incrementado em 1 unidade.

In [ ]:
contador = 0
while contador <= 10:
  print(f'O valor de contador é {contador}!')
  contador += 1

O valor de contador é 0!
O valor de contador é 1!
O valor de contador é 2!
O valor de contador é 3!
O valor de contador é 4!
O valor de contador é 5!
O valor de contador é 6!
O valor de contador é 7!
O valor de contador é 8!
O valor de contador é 9!
O valor de contador é 10!

27 - Crie uma estrutura de repetição que percorre a string 'Nikola Tesla', exibindo em tela letra por letra do seu nome:

In [ ]:
genio = 'Nikola Tesla'
for letra in genio:
  print(f'{letra}',end='')
print()

Nikola Tesla

28 -

Crie uma lista com 8 elementos de uma lista de compras de supermercado, por meio de um laço de repetição for liste individualmente cada um dos itens dessa lista:

In [ ]:
lista_compras = ['Arroz', 'Feijão', 'Azeite', 'Carne', 'Sal', 'Macarrão', 'Milho', 'Tomate']

for item in lista_compras:
  print(f'Você deve comprar: {item}.')

Você deve comprar: Arroz.
Você deve comprar: Feijão.
Você deve comprar: Azeite.
Você deve comprar: Carne.
Você deve comprar: Sal.
Você deve comprar: Macarrão.
Você deve comprar: Milho.
Você deve comprar: Tomate.

29 - Crie um programa que lê um valor de início e um valor de fim, exibindo em tela a contagem dos números dentro desse intervalo:

In [ ]:
inicio = int(input('Digite um número inicial para iniciar a contagem: '))
while True:
  final = int(input(f'Digite um numero maior que {inicio} para finalizar a contagem: '))
  if final > inicio:
    break

for contador in range(inicio, final+1, 1):
  print(f'{contador}',end=', ')

Digite um número inicial para iniciar a contagem: 2
Digite um numero maior que 2 para finalizar a contagem: 7
2, 3, 4, 5, 6, 7,

30- Crie um programa que realiza a contagem de 0 a 20, exibindo apenas os números pares:

In [ ]:
for contador in range(0, 21):
  if contador % 2 == 0:
    print(f'O número {contador} é par.')

O número 0 é par.
O número 2 é par.
O número 4 é par.
O número 6 é par.
O número 8 é par.
O número 10 é par.
O número 12 é par.
O número 14 é par.
O número 16 é par.
O número 18 é par.
O número 20 é par.

31 - Crie um programa que realize a progressão aritmética de 20 elementos, com o primeiro termo e razão definidos pelo usuário:
![image.png]()

In [ ]:
a1 = int(input('Qual o primeiro termo: '))
r = int(input('Qual a razão: '))

an = a1 + (20 - 1) * r

for ax in range(a1, an+r, r):
  print(ax, end=', ')

Qual o primeiro termo: 10
Qual a razão: 3
10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67,

32 - Crie um programa que exibe em tela a tabuada de um determinado número fornecido pelo usuário:

In [ ]:
tab = int(input('Qual tabuada: '))

for x in range(0, 11):
  print(f'{tab} x {x} = {tab*x}')

Qual tabuada: 3
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

33 - Crie um programa que realiza a contagem regressiva de 20 segundos:

In [ ]:
from time import sleep

for i in range(20, -1, -1):
  print(i)
  sleep(1)
print('Fim')

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
Fim

34 - Crie um programa que realiza a contagem de 1 atê 100, usando apenas de números ímpares, ao final do processo exiba em tela quantos números ímpares foram encontrados nesse intervalo, assim como a soma dos mesmos:

In [1]:
soma = 0
cont = 0

for i in range(1, 101):
  if i % 2 == 1:
    soma = soma + i
    cont += 1
print(f'Entre os números 1 e 100 há {cont} números ímpares sendo sua soma {soma}.')

Entre os números 1 e 100 há 50 números ímpares sendo sua soma 2500.